/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

/* STYLES */

/* Header */
.logo{
    width: 70px;
}

.container_lg{
    padding: 20px 10px;
    padding-right: 20px;
}

.row{
    display: flex;
    align-items: center;
}

.title{
    margin-right: auto;
}

.play_btn{
    padding: 3px 15px;
}


/* Main */

.grid_wrapper{
    padding: 60px;
    background-color: rgb(127, 255, 212);
}

.container{
    max-width: 640px;
    margin: 0 auto;
}


.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


.cell{
    width: 80px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    
}

.bg_blue{
    background-color: rgb(105, 213, 255);
}


/* Footer */

.credits{
    padding: 10px;
}
